{% extends 'admin/admin_dashboard.html' %}
{% block index %}
<section class="appoinment section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
             <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
              <h2 class="mb-2 title-color">View Feedbacks</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">User Data</th>
                    <th scope="col">Appointment Date</th>
                    <th scope="col">Slot time</th>
                    <th scope="col">Feedback</th>
                  </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td><p>{{appointment.user.firstname}} {{appointment.user.lastname}}</p>
                            <p>Email: {{appointment.user.email}}</p>
                            <p>Phone: {{appointment.user.phone}}</p>
                            <p>Age: {{appointment.user.age}}</p>
                            <p>Place: {{appointment.user.place}}</p>
                            <p>Address: {{appointment.user.address}}</p></td>
                        <td>{{appointment.appointment_date}}</td>
                        <td>{{appointment.slottime}}</td>  
                        
                            
                          {% for feedback in feedbacks %}
                          {% if feedback.appointment == appointment %}
                          <td>{{feedback.feedback_text}}</td>
                          {% endif %}
                          {% endfor %}
                            
                       
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock index %}