{% extends 'index.html' %}
{% block navbar %}
{% for message in messages %}
<script>
    alert('{{message}}')
</script>
{% endfor %}
<div class="collapse navbar-collapse" id="navbarmain">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin-dashboard">Admin</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="department.html" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Departments <i class="icofont-thin-down"></i></a>
        <ul class="dropdown-menu" aria-labelledby="dropdown02">
            <li><a class="dropdown-item" href="/admin-adddepartment">Add</a></li>
            <li><a class="dropdown-item" href="/admin-viewdepartments">View</a></li>
        </ul>
      </li>
       <!-- <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
        <li class="nav-item"><a class="nav-link" href="service.html">Services</a></li> -->

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="department.html" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors <i class="icofont-thin-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown02">
                <li><a class="dropdown-item" href="/admin-adddoctor">Add</a></li>
                <li><a class="dropdown-item" href="/admin-viewdoctors">View</a></li>
            </ul>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin-viewfeedbacks">Feedbacks</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Logout</a>
          </li>
         <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="doctor.html" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctors <i class="icofont-thin-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                <li><a class="dropdown-item" href="doctor.html">Doctors</a></li>
                <li><a class="dropdown-item" href="doctor-single.html">Doctor Single</a></li>
                <li><a class="dropdown-item" href="appoinment.html">Appoinment</a></li>
            </ul>
          </li>

       <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="blog-sidebar.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog <i class="icofont-thin-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown05">
                <li><a class="dropdown-item" href="blog-sidebar.html">Blog with Sidebar</a></li>

                <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
            </ul>
          </li>
       <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> -->
    </ul>
  </div>
{% endblock navbar %}

{% block index %}
admin
{% endblock index %}