{% extends 'index.html' %}
{% block index %}
{% for message in messages %}
<script>
    alert('{{message}}')
</script>
{% endfor %}
<section class="contact-form-wrap section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="text-md mb-2">User Signup</h2>
                    <div class="divider mx-auto my-4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                <form  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="col-lg-6 mx-auto">
                            <div class="form-group">
                                <input name="fname" id="" type="text" class="form-control" placeholder="First name" >
                            </div>
                        </div>
                         <div class="col-lg-6 mx-auto">
                            <div class="form-group">
                                <input name="lname" id="" type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-lg-6 mx-auto">
                            <div class="form-group">
                                <input name="email" id="" type="email" class="form-control" placeholder="Email" >
                            </div>
                        </div>
                         <div class="col-lg-6 mx-auto">
                            <div class="form-group">
                                <input name="phone" id="" type="text" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-lg-6 mx-auto">
                            <div class="form-group">
                                <input name="age" id="" type="text" class="form-control" placeholder="Age">
                            </div>
                        </div>
                        <div class="col-lg-6 mx-auto" >
                            <textarea name="address" style="background: #f4f9fc;" id="message" class="form-control" rows="8" placeholder="Your address"></textarea>
                        </div><br>
                        <div class="col-lg-6 mx-auto">
                            <div class="form-group">
                                <input name="place" id="name" type="text" class="form-control" placeholder="Place" >
                            </div>
                        </div>
                        <div class="col-lg-6 mx-auto">
                            <div class="form-group">
                                <input name="uname" id="name" type="text" class="form-control" placeholder="Username" >
                            </div>
                        </div>
                         <div class="col-lg-6 mx-auto">
                            <div class="form-group">
                                <input name="password" id="phone" type="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-main btn-round-full">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock index %}